body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.64; 
    letter-spacing: 0.1em; 
}

/* First Block */
.first-block {
  width: 1920px;
  height: 700px;
  background: #eeeff1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 40px;
  margin-top: 79px;
  margin-left: 399px;
}

.first-block a:not(.home) {
  font-size: 14px;
  text-decoration: none;
   color: #000000;
}

.home {
  color: #34547A;
  text-decoration: none;
}

.first-content {
  margin-top: 178px;
  margin-left: 399px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 36px;
  margin: 0;
}

.subtitle {
  width: 540px;
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  margin: 0;
}

.write-btn {
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.1em;
}
/* Second Block */
.second-block {
  width: 1920px;
  height: 359px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-me {
  font-size: 32px;
  margin: 0;
}

.about-text {
  width: 540px;
  font-weight: 400;
  color: #727272;
  text-align: center;
  margin: 0;
}

/* Third Block */
.third-block {
  width: 1920px;
  height: 250px;
  background-color: #34547A;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.numbers {
  display: flex;
  gap: 49px;
  margin-left: 409px;
}

.numbers img {
  width: 141px;
  height: 50px;
}

/*Fourth block*/

.fourth-block {
  width: 1920px;
  height: 1004px;
  background-color: #EEEFF1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
   padding-bottom: 100px;
}

.how-i-work {
  margin-top: 100px;
  font-size: 32px;
}

.how-i-work-text {
  width: 540px;
  margin-top: 40px;
  font-weight: 400;
  color: #727272;
  text-align: center;
}

.video-wrapper {
  position: relative;
  margin-top: 84px;
}

.how-i-work-image {
  width: 1110px;
  height: 600px;
  opacity: 1;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/*Fifth block*/
.fifth-block {
  position: relative;
  width: 1920px;
  height: 151px;
  background-color: #34547A;
  margin: 0 auto;
  box-sizing: border-box;
}

.fifth-block .name {
  position: absolute;
  top: 50px;
  left: 406px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #fff;
}
.fifth-block .copyright {
  position: absolute;
  top: 89px;
  left: 406px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}