body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.64; /* 164% */
    letter-spacing: 0.1em; /* 10% */
}

/* First Block */
.first-block {
    position: relative;
    width: 1920px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #eeeff1;
}

.first-block a {
    position: absolute;
    height: 16px;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.64;
    letter-spacing: 0.1em;
}

.home {
    width: 101px;
    top: 79px;
    left: 399px;
    color: #34547A; 
}

.about {
    width: 100px;
    top: 79px;
    left: 500px;
    color: #000000;
}

.works {
    width: 74px;
    top: 79px;
    left: 612px;
    color: #000000;
}

.process {
    width: 86px;
    top: 79px;
    left: 734px;
    color: #000000;
}

.contacts {
    width: 99px;
    top: 79px;
    left: 865px;
    color: #000000;
}

.title {
    position: absolute;
    width: 541px;
    height: 45px;
    top: 257px;
    left: 399px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px; 
    line-height: 1.2;
    color: #000;
    margin: 0;
}

.subtitle {
    position: absolute;
    width: 540px;
    height: 67px;
    top: 362px;
    left: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    opacity: 1;
    transform: rotate(0deg);
    margin: 0;
}

.write-btn {
    position: absolute;
    width: 225px;
    height: 65px;
    top: 494px;
    left: 399px;
    background-color: #34547A;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Second Block */
.second-block {
  position: relative;
  width: 1920px;
  height: 359px;
  background-color: #f9f9f9;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 758px; 
}

.about-me {
  position: absolute;
  top: 112px; 
  left: 758px;
  width: 403px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.about-text {
  position: absolute;
  top: 192px;
  left: 758px;
  width: 540px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin: 0;
}

/* Third Block */
.third-block {
  position: relative;
  width: 1920px;
  height: 250px;
  background-color: #34547A;
  margin: 0 auto;
  box-sizing: border-box;
}

.numbers-item {
  position: absolute;
  top: 100px;             
  width: 141px;
  height: 50px;
  object-fit: contain;
}

.numbers-item.first {
  left: 409px;
}

.numbers-item.second {
  left: calc(409px + 141px + 45px);
}

.numbers-item.third {
  left: calc(409px + 2 * 141px + 45px + 49px);
}

.numbers-item.fourth {
  left: calc(409px + 3 * 141px + 45px + 2 * 49px);
}

.numbers-item.fifth {
  left: calc(409px + 4 * 141px + 45px + 3 * 49px);
}

.numbers-item.sixth {
  left: calc(409px + 5 * 141px + 45px + 4 * 49px);
}

/*Fourth block*/

.fourth-block {
  position: relative;
  width: 1920px;
  height: 1004px;
  background-color: #EEEFF1;
  margin: 0 auto;
  box-sizing: border-box;
}

.how-i-work {
  position: absolute;
  top: 100px;
  left: 758px;

  width: 403px;
  height: 30px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0;
  text-align: center;
}

.how-i-work-text {
  position: absolute;
  width: 540px;
  height: 67px;

  top: 180px;
  left: 758px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}
.how-i-work-image {
  position: absolute;
  top: 304px;
  left: 405px;

  width: 1110px;
  height: 600px;
}

.play-icon {
  position: absolute;
  top: 554px;
  left: 910px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 10;
}
/*Fifth block*/
.fifth-block {
  position: relative;
  width: 1920px;
  height: 151px;
  background-color: #34547A;
  margin: 0 auto;
  box-sizing: border-box;
}

.fifth-block .name {
  position: absolute;
  top: 50px;
  left: 406px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #fff;
}
.fifth-block .copyright {
  position: absolute;
  top: 89px;
  left: 406px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}